<div class="am-g">
  <div class="am-u-md-3">
    <input type="text" ng-model="data.q">
    <table class="am-table am-table-bordered am-table-compact">
      <tbody>
      <tr ng-repeat="row in list |filter:data.q |limitTo:6">
        <td>{{row.LEVEL}} <a target="_blank" ng-href="http://js.ntwikis.com/jsp/apps/cancollezh/charactors/detail.jsp?detailid={{row.ID}}">
            {{row.NAME}}</a> {{row.EXP}}</td>
        <td><button class="am-btn am-btn-primary am-btn-sm" ng-click="setTarget(row)">目标</button>
          <button class="am-btn am-btn-success am-btn-sm" ng-click="add(row)">狗粮</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="am-u-md-9">
    <table class="am-table am-table-bordered am-table-compact">
      <thead>
        <tr>
          <th>{{target.NAME}}</th>
          <th>火力</th>
          <th>鱼雷</th>
          <th>装甲</th>
          <th>对空</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-if="target">
          <th>lv * {{target.exp}}</th>
          <th>{{target.huoli}}lv={{target.huoli * target.exp}}</th>
          <th>{{target.yulei}}lv={{target.yulei * target.exp}}</th>
          <th>{{target.zhuangjia}}lv={{target.zhuangjia * target.exp}}</th>
          <th>{{target.duikong}}lv={{target.duikong * target.exp}}</th>
          <th>油</th>
          <th>弹</th>
          <th>钢</th>
          <th>铝</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in source">
        <td>{{row.NAME}} <input type="number" style="width:50px" ng-model="row.cc">
          <button class="am-btn am-btn-danger am-btn-xs" ng-click="remove(row)">&times;</td>
        <td>{{row.exp.huoli}}</td>
        <td>{{row.exp.yulei}}</td>
        <td>{{row.exp.zhuangjia}}</td>
        <td>{{row.exp.duikong}}</td>
        <td>{{row.sell.you}}</td>
        <td>{{row.sell.dan}}</td>
        <td>{{row.sell.gang}}</td>
        <td>{{row.sell.lv}}</td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>总资源 {{sourceTotal().sell.all}}</td>
          <td>{{sourceTotal().exp.huoli}}
            <span ng-show="sourceTotal().xp.huoli>0" class="am-badge am-badge-success">{{sourceTotal().xp.huoli}}</span>
            <span ng-show="sourceTotal().xp.huoli<0" class="am-badge">{{sourceTotal().xp.huoli}}</span></td>
          <td>{{sourceTotal().exp.yulei}}
            <span ng-show="sourceTotal().xp.yulei>0" class="am-badge am-badge-success">{{sourceTotal().xp.yulei}}</span>
            <span ng-show="sourceTotal().xp.yulei<0" class="am-badge">{{sourceTotal().xp.yulei}}</span></td>
          <td>{{sourceTotal().exp.zhuangjia}}
            <span ng-show="sourceTotal().xp.zhuangjia>0" class="am-badge am-badge-success">{{sourceTotal().xp.zhuangjia}}</span>
            <span ng-show="sourceTotal().xp.zhuangjia<0" class="am-badge">{{sourceTotal().xp.zhuangjia}}</span></td>
          <td>{{sourceTotal().exp.duikong}}
            <span ng-show="sourceTotal().xp.duikong>0" class="am-badge am-badge-success">{{sourceTotal().xp.duikong}}</span>
            <span ng-show="sourceTotal().xp.duikong<0" class="am-badge">{{sourceTotal().xp.duikong}}</span></td>
          <td>{{sourceTotal().sell.you}}</td>
          <td>{{sourceTotal().sell.dan}}</td>
          <td>{{sourceTotal().sell.gang}}</td>
          <td>{{sourceTotal().sell.lv}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
